
<% if @empresas.size == 0 %>
<div class="alert alert-info">
	<p>No enterprises available to generate client applications.</p>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default" onclick="location.href='../inicio/inicio'">Home</button>
</div>

<% else %>

<style>

a.button:hover, a.button:visited, a.button:link, a.button:active
{
    text-decoration: none;
    color: #428bca;
}

span#selectState
{
	color:green;
	text-decoration:underline;
	cursor:pointer;
	font-size:12px;
}



</style>

<script>

$(function () {
  $("#dialogFilter").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
      "Generate HTML": function()
      {
      	// Format strings with the ids of each category for the generation:
      	var mapIds = ''; var riskIds = ''; var goalIds = ''; var priorIds = ''; var checked = false; var id; var category;
      	var archsIds = ''; var logo = 'NO';
      	var idEmp = $("#dialogFilter").data('idEmp'); var checkeados = 0;

      	$(".filterArch").each(function(){
          checked = $(this).prop("checked");

          if (checked) 
          {
          	  id = $(this).val().split("_")[0];
          	  if (archsIds == '') 
			  {
			  	archsIds = id;
			  } 
			  else
			  {
			  	archsIds += '|' + id;
			  };
          };
        });

        checked = $("#filterLogo").prop("checked");

        if (checked) 
        {
        	logo = 'SI';
        };



      	$(".filter").each(function(){
          checked = $(this).prop("checked");
          if (checked) 
          {
          	checkeados+= 1;
          	id = $(this).val().split("_")[0];
          	category = $(this).val().split("_")[1];
          	// Depending on the category, adds it to it's respective string:
          	switch (category)
			{
			case 'MAP':
			  if (mapIds == '') 
			  {
			  	mapIds = id;
			  } 
			  else
			  {
			  	mapIds += '|' + id;
			  };
			  break;
			case 'MAPD':
			  if (mapIds == '') 
			  {
			  	mapIds = id;
			  } 
			  else
			  {
			  	mapIds += '|' + id;
			  };
			  break;
			case 'RISK':
			  if (riskIds == '') 
			  {
			  	riskIds = id;
			  } 
			  else
			  {
			  	riskIds += '|' + id;
			  };
			  break;
			case 'GOAL':
			  if (goalIds == '') 
			  {
			  	goalIds = id;
			  } 
			  else
			  {
			  	goalIds += '|' + id;
			  };
			  break;
			case 'PRIOR':
			  if (priorIds == '') 
			  {
			  	priorIds = id;
			  } 
			  else
			  {
			  	priorIds += '|' + id;
			  };
			  break;
			} // Close switch
          };
        });

        // At the end adds the selected archetypes, to the id's map's string
        mapIds += '%' + archsIds;


        // Close the dialog:
		$("#dialogFilter").dialog("close");
		$("#dialogFilter").html("");

		if (checkeados > 0) 
		{
			// Load the loading icon:
		    $("#generate").html('<img src="<%= LOADING_GIF %>"> Generating HTML...');

	        // Generate HTML content:
			$.post('/inicio/g_home', {'idEmp' : idEmp, 'mapIds': mapIds, 'riskIds': riskIds, 'goalIds': goalIds, 'priorIds': priorIds, 'logo': logo}, function(data)
    		{
    			var html = '';    		
    			if (data.length > 0) 
    			{
    				// Generate the tile and screen-log:
    				html+= '<h2 id="enCurso">Processing...</h2>';
    				for (var i = 0; i < data.length; i++) 
    				{
    					if (i == 0) 
    					{
    						html+= '<span style="font-size:12px;font-style:italic;color:green;">'+data[i]+'</span><br>';
    					} 
    					else
    					{
    						html+= '<span style="font-size:12px;font-style:italic;color:#333;">'+data[i]+'</span><br>';
    					};
    					
    				};

    				$("#logDiv").html(html);
    				// Generate HTML content - Decision Maps:
					$.post('/inicio/g_decision_maps', {'idEmp' : idEmp, 'mapIds': mapIds}, function(data)
		    		{
		    			if (data.length > 0) 
		    			{
		    				html = $("#logDiv").html();
		    				for (var i = 0; i < data.length; i++) 
		    				{
		    					if (i == 0) 
		    					{
		    						html+= '<span style="font-size:12px;font-style:italic;color:green;">'+data[i]+'</span><br>';
		    					} 
		    					else
		    					{
		    						html+= '<span style="font-size:12px;font-style:italic;color:#333;">'+data[i]+'</span><br>';
		    					};
		    				};
		    				$("#logDiv").html(html);
		    				$.post('/inicio/g_risk_escenarios', {'idEmp' : idEmp, 'riskIds': riskIds}, function(data)
		    				{
		    					if (data.length > 0) 
		    					{
		    						html = $("#logDiv").html();
				    				for (var i = 0; i < data.length; i++) 
				    				{
				    					if (i == 0) 
				    					{
				    						html+= '<span style="font-size:12px;font-style:italic;color:green;">'+data[i]+'</span><br>';
				    					} 
				    					else
				    					{
				    						html+= '<span style="font-size:12px;font-style:italic;color:#333;">'+data[i]+'</span><br>';
				    					};
				    				};
				    				$("#logDiv").html(html);
				    				$.post('/inicio/g_priorization_escenarios', {'idEmp' : idEmp, 'priorIds': priorIds}, function(data)
				    				{
				    					if (data.length > 0) 
				    					{
				    						html = $("#logDiv").html();
						    				for (var i = 0; i < data.length; i++) 
						    				{
						    					if (i == 0) 
						    					{
						    						html+= '<span style="font-size:12px;font-style:italic;color:green;">'+data[i]+'</span><br>';
						    					} 
						    					else
						    					{
						    						html+= '<span style="font-size:12px;font-style:italic;color:#333;">'+data[i]+'</span><br>';
						    					};
						    				};
						    				$("#logDiv").html(html);		    				
				    					};
				    					$.post('/inicio/g_goal_escenarios', {'idEmp' : idEmp, 'goalIds': goalIds}, function(data)
					    					{
					    						if (data.length > 0) 
					    						{
					    							html = $("#logDiv").html();
								    				for (var i = 0; i < data.length; i++) 
								    				{
								    					if (i == 0) 
								    					{
								    						html+= '<span style="font-size:12px;font-style:italic;color:green;">'+data[i]+'</span><br>';
								    					} 
								    					else
								    					{
								    						html+= '<span style="font-size:12px;font-style:italic;color:#333;">'+data[i]+'</span><br>';
								    					};
								    				};
								    				$("#logDiv").html(html);
					    						};
					    						// Update the progress message to finished, and enable everything again:
							    				$("#enCurso").html('<span style="color:green;">HTML Generation terminated successfully!</span>');
							    				$("#select_empresas").prop("disabled", false);
												// Load the loading icon:
												$("#generate").html('<img src="/assets/generate_html.png"> Generate HTML');
												$("#generate").prop("disabled", false);
					    					});
				    					
				    				});
		    					};
		    					
		    				});
		    			};
		    		});
    			};

    		}); 
        }
        else
        {
        	$("#select_empresas").prop("disabled", false);
			// Load the loading icon:
			$("#generate").html('<img src="/assets/generate_html.png"> Generate HTML');
			$("#generate").prop("disabled", false);
		}; // Close IF-checkeados
		
        
      },
      "Cancel": function () 
      {	 
      	$(this).html("");
      	$("#select_empresas").prop("disabled", false);
      	$("#generate").html('<img src="/assets/generate_html.png"> Generate HTML');
		$("#generate").prop("disabled", false);
        $(this).dialog("close");
      }
    },
    close: function() 
    {
      $(this).html("");
      $("#select_empresas").prop("disabled", false);
      $("#generate").html('<img src="/assets/generate_html.png"> Generate HTML');
	  $("#generate").prop("disabled", false);
      $(this).dialog("close");
    }
  });

});
</script>


<script>

$( document ).ready(function() {

	// Generate HTML:
	$("#generate").click(function(){
		var idEmp = $("#select_empresas option:selected").val();

		if (idEmp == 'N') 
		{
			// Invalid selection
			$("#select_empresas").focus();
		} 
		else
		{
			// Delete previously content:
			$("#logDiv").html("");
			// Disable the enterprises' list:
			$("#select_empresas").prop("disabled", true);
			// Disable the link itself:
			$("#generate").prop("disabled", true);
			// Load the loading icon:
			$("#generate").html('<img src="<%= LOADING_GIF %>"> Generating HTML...');

			// Generate the HTML content and show the dialog to select what-to-generate:
			$.post('/inicio/getFilterEmpresa', {'idEmp' : idEmp}, function(data)
    		{
    			var html = '';
    			html+= '<h5 style="font-size:15px;color:blue;">Select the components to generate:</h5>';
    			// Add the options "Select/Deselect All":
    			html+= '<span class="selectAll" id="selectState">Select all [+]</span>';

                var chkReporte = false;
    			for (var i = 1; i < data.length; i++) 
    			{
    				// Check if its a title:
    				if (data[i].split("$:$").length > 1) 
    				{
    					// Its a title:
    					html+= '<h5 style="color:blue;">'+ data[i].split("$:$")[0] +'</h5>';
    					// If its a map's title, enable the corresponding flag:
    					if (data[i].split("$:$")[0] == 'Mapas de decisión') 
    					{
    						chkReporte = true;
    					} 
    					else
    					{
    						chkReporte = false;
    					};

    					// If it comes empty, inform:
    					if (data[i].split("$:$")[1] == '0') 
    					{
    						html+= '<span style="font-size:13px;color:orange;">No data available!</span><br>';
    					};
    				}
    				else
    				{
    					// Is not a title:
    					// If the separator "|" splits in 3 parts, needs to be indented:
    					var identar = data[i].split("|").length;

    					if (identar == 3) 
    					{
    						// Needs to be indented
    						html+= '<input type="checkbox" style="margin-left:28px;" class="filter" value="'+ data[i].split("|")[0] +'">   ' + data[i].split("|")[1] + '<br>';
    					} 
    					else
    					{
    						// Show normally
    						html+= '<input type="checkbox" style="margin-left:10px;" class="filter" value="'+ data[i].split("|")[0] +'">   ' + data[i].split("|")[1] + '<br>';
    						// Check if needs to validate its report's check:
    						if (chkReporte) 
    						{
    							if (data[i].split("|")[0].split("_")[1] == 'MAPD') 
    							{
    								html+= '<span style="font-style:italic;font-size:11px;"><input type="checkbox" style="margin-left:28px;" class="filterArch" value="'+ 
    										data[i].split("|")[0].split("_")[0] +
    										'_ARCH" id="filterArch'+data[i].split("|")[0].split("_")[0]+'" disabled>  Archetype Identification Report</span><br>';
    							};
    							
    						};
    					};


    					
    				};
    				
    			};

    			// Add the logo option:
    			if (data[0] == 'SI_LOGO') 
    			{
    				html+= '<h5 style="color:blue;">Other options</h5><input type="checkbox" style="margin-left:10px;" id="filterLogo" value="LOGO"> Include logo<br>';
    			};


    			html+='<div id="loadingDiv"></div>';

    			$("#dialogFilter").html(html); 

    			$("#dialogFilter").dialog("option", "width", 600);
			    $("#dialogFilter").dialog("option", "height", 500);
			    $("#dialogFilter").dialog("option", "resizable", false);
			    $("#dialogFilter").data('idEmp', idEmp);
			    $("#dialogFilter").dialog("open");

    		});	
		};
	});

    // User-Management:
    $("#users").click(function(){
    	var ruta = $("#file").val();
    	if (ruta != null && ruta != '') 
    	{
    		// Disable the enterprises' list:
			$("#select_empresas").prop("disabled", true);
			// Disable the other link:
			$("#generate").prop("disabled", true);
			// Disable the link itself:
			$("#users").prop("disabled", true);
			// Load the loading icon:
			$("#users").html('<img src="<%= LOADING_GIF %>"> Generating HTML...');

    		$("#form_users").submit();
    	};
    });
});

$(document).on('click', "span#selectState", function() 
{
	var clase = $(this).attr("class");
	if (clase == 'selectAll') 
	{
		// Need to select all, change the text and change the class:
		$(".filter").prop("checked", true);
		$("#filterLogo").prop("checked", true);
		$(".filterArch").prop("disabled", false); $(".filterArch").prop("checked", true);
		$(this).attr("class", "deselectAll");
		$(this).text("Remove selection [-]");
	} 
	else
	{
		// Need to de-select all, change the text and change the class:
		$(".filter").prop("checked", false);
		$("#filterLogo").prop("checked", false);
		$(".filterArch").prop("checked",false); $(".filterArch").prop("disabled", true); 
		$(this).attr("class", "selectAll");
		$(this).text("Select all [+]");
	};
	
});

// Clicking on a filter, enable/disable its map's option:
$(document).on('click', "input.filter", function() 
{
	var checked = $(this).prop("checked");
    var id = $(this).val().split("_")[0];
    var category = $(this).val().split("_")[1];

    if (checked) 
    {
    	// Checked, enable its map's option:
    	if (category == 'MAPD') 
    	{
    		$("#filterArch"+id).prop("disabled", false);
    		$("#filterArch"+id).prop("checked", true);
    	};
    }
    else
    {
    	// Unchecked, disable its map's option:
    	if (category == 'MAPD') 
    	{
    		$("#filterArch"+id).prop("checked", false);
    		$("#filterArch"+id).prop("disabled", true);
    	};
    };
}); 



</script>


<div>
	<ol class="breadcrumb">
		<li><a href="../inicio/inicio">Home</a></li>
		<li class="active">Administration</li>
	</ol>
</div>

<h2>HTML Generation:</h2>
<div style="width:100%;">
	<div style="float:left;width:25%;">
		<select style="width:300px;border-color:#DDD;height:30px;" id="select_empresas">
			<option selected disabled value="N">--- Select enterprise to generate ---</option>
		    <% @empresas.each do |e|%>
		    <option value='<%= e.id %>'>&nbsp;&nbsp;<%= e.name %></option>
		    <% end %>
		</select>
	</div>

	<div style="float:left;width:75%;">
		<a style="cursor:pointer;" class="button" id="generate"><img src="/assets/generate_html.png"> Generate HTML</a>
	</div>
</div>

<div id="dialogFilter" title="HTML Generation">

</div>

<br><br>
<hr>

<div style="width:100%;" id="logDiv">
</div>


<% end %>












