<style>

.risklvl
{
	font-weight: bolder;
	font-size: 20px;
}


</style>

<script>

$( document ).ready(function() {

	// ES: Gestiona el click en el boton
	// EN: Manage the button click
	$("#save").click(function(){
		// ES: Obtiene los valores de los input de clase risklvl, si falta algún valor, arroja un error:
		// EN: Get the values of the inputs from the class risklvl, if any value is missing, throws an error:
		var niveles = '';
		var errores = 0;
		$(".risklvl").each(function(i){
			if ($(this).val() == '') 
			{
				errores+= 1;
			} 
			else
			{
				niveles+= $(this).val();
				// ES: Si no es el último index, agrega el separador
				// EN: If is not the last index, add the separator
				if (i < 36) 
				{
					niveles+= '|';
				};
			};
		});

		// ES: Si existen errores, lo informa y no envía el formulario
		// EN: If there are errors, inform it and don't send the form
		if (errores > 0) 
		{
			$("#err").text("Existen errores en " + errores + " casilla(s), por favor complete los valores antes de guardar los cambios");
			$("#err").show();
		} 
		else
		{
			// ES: Agrega el valor de la unidad de impacto:
			// EN: Add the value of the impact unit:
			var unidad = $("#qriesgo").val();
			if (unidad == '') 
			{
				unidad = 0;
			};
			niveles += unidad;

			// ES: Esconde el label de errores
			// EN: Hide error labels
			$("#err").hide();
			// ES: Pasa el valor al input hidden:
			// EN: Pass the value to the input hidden:
			$("#hd_lvl").val(niveles);
			// ES: Envía el formulario
			// EN: Submit the form:
			$("#riskmap").submit();
		};


	});




});

</script>


<div>
	<ol class="breadcrumb">
		<li><a href="../inicio/inicio">Inicio</a></li>
		<li class="active">[ <%= @empresa.name %> ] Configuración - Mapa de riesgo</li>
	</ol>
</div>

<h2>Personalizar - Mapa de riesgo</h2>

<!-- ES: Dialogo para evaluar el nivel de riesgo -->
<!-- EN: Dialog to evaluate the risk level -->
<p style="font-size:13px;">
<% if @default != nil %>
A continuación se presenta la distribución por defecto, puede configurar los valores según los más indicado para su organización:
<% else %>
A continuación se presenta la distribución almacenada para la empresa: <%= @empresa.name %>, puede realizar cualquier modificación:
<% end %>
</p>
<p style="font-size:13px;color:red;text-transform:uppercase;display:none;" id="err"></p>

<%= form_tag( "./resultado", method: "post", id: "riskmap") do %>
<div style="width:100%;height:400px;">
	<!-- ES: Espacio para el rotulo de la grafica -->
	<!-- EN: Space for the graph's legend -->
	<div style="float:left;width:130px;margin-right:10px;">
		<img src="/assets/y-axis_big.png" style="margin-top:35px;">
	</div>
	<div style="float:left;width:auto;">
		<table style="margin-top:20px;color:black;text-align:center;font-size:13px;">
			<tr style="border: 1px solid white;height:60px;">
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[0] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[1] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[2] %>' min="0"></td>
				<td class="riskmap_big" style="background:red;"><input class="risklvl" type="number" value='<%= @niveles[3] %>' min="0"></td>
				<td class="riskmap_big" style="background:red;"><input class="risklvl" type="number" value='<%= @niveles[4] %>' min="0"></td>
				<td class="riskmap_big" style="background:red;"><input class="risklvl" type="number" value='<%= @niveles[5] %>' min="0"></td>
			</tr>
			<tr style="border: 1px solid white;height:60px;">
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[6] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[7] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[8] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[9] %>' min="0"></td>
				<td class="riskmap_big" style="background:red;"><input class="risklvl" type="number" value='<%= @niveles[10] %>' min="0"></td>
				<td class="riskmap_big" style="background:red;"><input class="risklvl" type="number" value='<%= @niveles[11] %>' min="0"></td>
			</tr>
			<tr style="border: 1px solid white;height:60px;">
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[12] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[13] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[14] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[15] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[16] %>' min="0"></td>
				<td class="riskmap_big" style="background:red;"><input class="risklvl" type="number" value='<%= @niveles[17] %>' min="0"></td>
			</tr>
			<tr style="border: 1px solid white;height:60px;">
				<td class="riskmap_big" style="background:green;"><input class="risklvl" type="number" value='<%= @niveles[18] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[19] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[20] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[21] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[22] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[23] %>' min="0"></td>
			</tr>
			<tr style="border: 1px solid white;height:60px;">
				<td class="riskmap_big" style="background:green;"><input class="risklvl" type="number" value='<%= @niveles[24] %>' min="0"></td>
				<td class="riskmap_big" style="background:green;"><input class="risklvl" type="number" value='<%= @niveles[25] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[26] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[27] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[28] %>' min="0"></td>
				<td class="riskmap_big" style="background:orange;"><input class="risklvl" type="number" value='<%= @niveles[29] %>' min="0"></td>
			</tr>
			<tr style="border: 1px solid white;height:60px;">
				<td class="riskmap_big" style="background:green;"><input class="risklvl" type="number" value='<%= @niveles[30] %>' min="0"></td>
				<td class="riskmap_big" style="background:green;"><input class="risklvl" type="number" value='<%= @niveles[31] %>' min="0"></td>
				<td class="riskmap_big" style="background:green;"><input class="risklvl" type="number" value='<%= @niveles[32] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[33] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[34] %>' min="0"></td>
				<td class="riskmap_big" style="background:yellow;"><input class="risklvl" type="number" value='<%= @niveles[35] %>' min="0"></td>
			</tr>
		</table>
	</div>
	<div style="float:left;width:220px;">
		<img src="/assets/imp_tol_big.png" style="margin:17px 0 40px 55px">
		<br>
		<img align="left" src="/assets/money.png" style="width:30px;height:30px;margin: 10px 5px 0 70px;"><p style="font-size:11px;width:70%;margin-left:45%;">Impacto financiero (aproximado) por unidad de riesgo (en USD):</p></img>
        <input type="number" style="margin:8px 0 10px 70px;width:170px;" min="1" placeholder="e.g 1.000 USD" id="qriesgo" <% if @niveles[36].to_i > 0 %>value="<%= @niveles[36] %>" <% end %>>
	</div>
</div><!-- 100% -->
<br>

<div>
	<img src="/assets/x-axis_big.png" style="margin-left:135px;">
</div>
<!-- ES: Input para pasar la nformacion actualizada de los niveles -->
<!-- EN: Input to pass the updated info of the levels -->
<input name="niveles" id="hd_lvl" type="text" readonly hidden>

<div class="btn-group" style="margin-top:15px;">
   <button type="button" class="btn btn-default" id="save">Guardar cambios</button>
</div>


<% end # Close form_tag %>







