<style>

label.normal
{
	font-weight: normal;
}

.expand
{
	width: 60%;
}

div.borded_big
{
	border:solid 1px #DDD;
	float: left;
	height: 630px;
}

div.borded
{
	border:solid 1px #DDD;
	height: 150px;
	padding: 10px;
	width: 100%;
	margin-bottom: 7px;
}

div.divided
{
	width: 25%;
	float: left;
}


</style>


<hr>

<div style="width:100%;height:630px;">
	<div style="width:60%;border-color:white;color:#585858;" class="borded_big">
		<div class="borded">
			<div class="divided">
				<img src="/assets/configuration.png">
			</div>
			<div class="divided" style="width:75%;">
				<h3 style="margin-top:36px;font-weight:100;">Configuration</h3>
        		<p style="margin-top:20px;font-size:14px;">Configure your organization's variables, such as risk scale or IT portfolio.</p>
			</div>
		</div>
		<div class="borded">
			<div class="divided">
				<img src="/assets/governance.png">
			</div>
			<div class="divided" style="width:75%;">
				<h3 style="margin-top:36px;font-weight:100;">IT Governance Model</h3>
        		<p style="margin-top:20px;font-size:14px;">Configure and manage IT decisions, governance structures and decision-making archetypes.</p>
			</div>
		</div>
		<div class="borded">
			<div class="divided">
				<img src="/assets/escenario.png">
			</div>
			<div class="divided" style="width:75%;">
				<h3 style="margin-top:36px;font-weight:100;">Decision-Making Simulation</h3>
        		<p style="margin-top:20px;font-size:14px;">Run new simulations, and compare the results of previous executions.</p>
			</div>
		</div>
		<div class="borded" style="height:158px;">
			<div class="divided">
				<img src="/assets/portfolio.png">
			</div>
			<div class="divided" style="width:75%;">
				<h3 style="margin-top:36px;font-weight:100;">IT/Business Cuantification</h3>
        		<p style="margin-top:20px;font-size:14px;">IT/Business Cuantification</p>
			</div>
		</div>
	</div>
	<div style="width:38%;margin-left:2%;padding:10px;text-align:center;border-width:2px;" class="borded_big">
		<div style="height:250px;padding-top:50px;">
			<h1 style="font-size:74px;">InvestIT</h1>
		</div>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div>
		  	<%= f.label :email, :class => "normal" %><br>
		    <%= f.email_field :email, :autofocus => true, :class => "expand", placeholder: "e.g user@mail.com" %>
		  </div>

		  <br>

		  <div>
		  	<%= f.label :password, "Password", :class => "normal" %>
		  	<br>
		    <%= f.password_field :password, :class => "expand" %>
		  </div>

		  <br>

		  <% if devise_mapping.rememberable? -%>
		    <div>
		    	<%= f.check_box :remember_me %> <%= f.label :remember_me, "Remember me", :class => "normal" %>
		    </div>
		    <br>
		  <% end -%>

		  <div>
		  	<%= f.submit "Log in" %>
		  </div>
		  <br>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>

<hr>