<script>

$( document ).ready(function() {

  // Only activates the action's buttons, when at least one enterprise have been selected:
  $("#select_empresas").change(function(){

    // Get the selection:
    var sel = $("#select_empresas option:selected").val();
    // Activate everything, only if its a valid enterprise:
    if (sel != 'N') 
      {
        // Loading:
        $("#loadingSpan").html('<img src="<%= LOADING_GIF %>"> Updating....');
        // Activate the save button:
        $("#btnSave").prop("disabled", false);
        // Update all information:
        $.get('/enterprises/get_enterprise', {'idEmpresa' : sel}, function(data)
        {
          // Updated everything involved:
          $("#nombre").val(data.name);
          $("#desc").val(data.description);
          if (data.logo_file_name != null) 
          {
            var newRoute = '/system/logos/' + data.id + '/' + data.logo_file_name;
            $("#logoImg").attr("src", newRoute);
          }
          else
          {
            $("#logoImg").attr("src", '../assets/no_logo.png');
          };
          $("#loadingSpan").html('');
        });

      };

  });

});

</script>

<%= form_tag( "../enterprises/update", method: "post", multipart: true) do %>


<select style="width:300px;border-color:#DDD;height:30px;" id="select_empresas" name="idEmpresa">
    <option selected disabled value="N">--- Select enterprise to update ---</option>
    <% @empresas.each do |e| %>
      <% if !@empresa.nil? && @empresa.id == e.id %>
      <option value='<%= e.id %>' selected>&nbsp;&nbsp;<%= e.name %></option>
      <% else %>
      <option value='<%= e.id %>'>&nbsp;&nbsp;<%= e.name %></option>
      <% end %>
    <% end %>
</select>


<h2>Edit enterprise <span style="color:blue;font-size:13px;" id="loadingSpan"></span> </h2>


<div style="width:100%;height:340px;">
  <div style="width:45%;float:left;">
    <p>Enterprise name:</p>
    <div class="input-group">
      <input type="text" class="form-control" name="nombre" style="width:350px;" id="nombre" <% if !@empresa.nil? %> value="<%= @empresa.name %>" <% end %> >
    </div>
    <br></br>
    <p>Enterprise description:</p>
    <div class="input-group">
      <textarea rows="8" cols="44" class="form-control" name="desc" id="desc" style="resize:none;"><% if !@empresa.nil? %><%= @empresa.description %><% end %></textarea>
    </div>
  </div>

  <div style="width:10%;float:left;">
  </div>

  <div style="width:45%;float:left;">
    <p>Enterprise logo:</p>
    <div class="input-group">
      <input type="file" class="form-control" name="logo">
      <center>
        <img style="margin-top:70px;max-width:260px;max-height:230px;" id="logoImg" <% if !@empresa.nil? && !@empresa.logo_file_name.blank? %> src="/system/logos/<%= @empresa.id.to_s%>/<%= @empresa.logo_file_name %>" <% else %> src="../assets/no_logo.png" <% end %> >
      </center>
    </div>
  </div>
</div>



<div class="btn-group">
  <button type="submit" class="btn btn-default" id="btnSave" <% if @empresa.nil? %> disabled <% end %> >Save</button>
</div>

<% end %>


