<script>

// Change selecting the type, to restrict the selection:
$(document).on('change', "select.selTipo", function() 
{
	// Get the id:
	var id = this.id.replace("tipo_", "").trim();
	var tipo = $("#tipo_"+id).val();

	var html = '<option selected disabled>Select...</option>'+
			   '<option value="<%= PERFIL_EST_1 %>">IT Executive</option>'+
			   '<option value="<%= PERFIL_EST_2 %>">IT Staff</option>'+
			   '<option value="<%= PERFIL_EST_3 %>">Business-IT</option>';

	// Depending the type, builds the content to select the profile:
	switch(tipo) 
	{
    case '<%= ROL %>': // Can't have the 5
	    html +=  '<option value="<%= PERFIL_EST_4 %>">Business Unit Leader</option>'+
	             '<option value="<%= PERFIL_EST_6 %>">Process Owner(s)</option>';
        break;
    case '<%= COMITE %>': // Can't have the 4 or 6
        html +=  '<option value="<%= PERFIL_EST_5 %>">Business Units Group</option>';
        break;
    case '<%= UNIDAD_DE_NEGOCIO %>': // Can't have the 4
        html += '<option value="<%= PERFIL_EST_5 %>">Business Units Group</option>'+
				'<option value="<%= PERFIL_EST_6 %>">Process Owner(s)</option>';
        break;
    } // End: Switch

    html+= '<option value="<%= PERFIL_EST_7 %>">Individuals</option>'+
		   '<option value="<%= PERFIL_EST_8 %>">Business Executive</option>';

	// Generates the profile content:
	$("#perfil_"+id).html(html);
});



// EDIT STRUCTURE:
$(document).on('click', "span.update", function() {
	var id = this.id; // update+Structure ID
	id = id.replace("update", "").trim(); // -> Structure ID
	var name; var funcs; var type; var perfil;
	var idPar = "par" + id; // Paragraph ID, insert content after it
	var margen = $("#"+idPar).css("margin-left").replace("px","").trim();
	margen = parseInt(margen) + 35;
	// Get the structure's info through AJAX:
	$.post('./get_structure', {'id' : id}, function(data)
    {
    	name = data.name;
    	type = data.structure_type;
    	perfil = data.profile;

    	$.post('./get_responsabilities', {'id' : id}, function(data)
    	{
    		funcs = data;
    		// Generates the update div:
    		// Only add it, if there is nothing before
			var anterior = document.getElementById("div_"+id);
			if (anterior == null) 
			{
				// There was nothing, adds it
				var html = '<div class="alert alert-success" style="height:190px;margin-left:'+ margen +'px;' + 
				           '" id="div_'+ id +'">'+
					     	'<div style="width:100%;">'+
					     		'<div style="float:left;width:32%;border:solid 1px white;padding:10px;height:161px;">'+
					     			'<div>'+
					     				'<label style="width:30%;font-weight:normal;">Name:</label>'+
					     				'<input type ="text" style="width:60%;" id="nombre_'+ id +'" value="'+ name +'">'+
					     			'</div>'+
					     			'<div style="margin:10px 0 0 0;">'+
					     				'<label style="width:30%;font-weight:normal;">Type:</label>'+
					     				'<select style="width:60%;" class="selTipo" id="tipo_'+ id +'">'+
					     					'<option disabled>Select...</option>';

					     					// Select its type:
					     					if (type == '<%= ROL %>') 
					     					{
					     						html+= '<option value="<%= ROL %>" selected>Role</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= ROL %>" >Role</option>';
					     					};

					     					if (type == 'COMITE') 
					     					{
					     						html+= '<option value="<%= COMITE %>" selected>Comitee</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= COMITE %>" >Comitee</option>';
					     					};

					     					if (type == 'UNIDAD_DE_NEGOCIO') 
					     					{
					     						html+= '<option value="<%= UNIDAD_DE_NEGOCIO %>" selected>Business Unit</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= UNIDAD_DE_NEGOCIO %>" >Business Unit</option>';
					     					};

		                                  
					     		html+= '</select>'+
					     			'</div>'+
					     			'<div style="margin:10px 0 0 0;">'+
					     				'<label style="width:30%;font-weight:normal;">Profile:</label>'+
					     				'<select style="width:60%;" id="perfil_'+ id +'">'+
					     					'<option disabled selected>Select...</option>';

					     					// Selects its profile:
					     					if (perfil == '<%= PERFIL_EST_1 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_1 %>" selected>IT Executive</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_1 %>" >IT Executive</option>';
					     					};

					     					if (perfil == '<%= PERFIL_EST_2 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_2 %>" selected>IT Staff</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_2 %>" >IT Staff</option>';
					     					};

					     					if (perfil == '<%= PERFIL_EST_3 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_3 %>" selected>Business-IT</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_3 %>">Business-IT</option>';
					     					};

					     					if (perfil == '<%= PERFIL_EST_4 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_4 %>" selected>Business Unit Leader</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_4 %>" >Business Unit Leader</option>';
					     					};

					     					if (perfil == '<%= PERFIL_EST_5 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_5 %>" selected>Business Units Group</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_5 %>" >Business Units Group</option>';
					     					};

					     					if (perfil == '<%= PERFIL_EST_6 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_6 %>" selected>Process Owner(s)</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_6 %>" >Process Owner(s)</option>';
					     					};

					     					if (perfil == '<%= PERFIL_EST_7 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_7 %>" selected>Individuals</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_7 %>" >Individuals</option>';
					     					};

					     					if (perfil == '<%= PERFIL_EST_8 %>') 
					     					{
					     						html+= '<option value="<%= PERFIL_EST_8 %>" selected>Business Executive</option>';
					     					} 
					     					else
					     					{
					     						html+= '<option value="<%= PERFIL_EST_8 %>" >Business Executive</option>';
					     					};

					     	    html+=  '</select>'+
					     			'</div>'+	
					     		'</div>'+
					     		'<div style="float:left;width:64%;border:solid 1px white;padding:10px;">'+
					     			'<div>'+
					     				'<label style="width:30%;font-weight:normal;">Add or search responsibilities:</label>'+
					     				'<input type ="text" style="width:69%; placeholder="Search..." class="auto_resps" id="auto_'+ id+'">'+
					     			'</div>'+
					     			'<div style="margin:10px 0 0 0;">'+
					     				'<select multiple style="width:100%;" id="funcs_'+ id +'">';

					     				// Add responsibilities:
					     				for (i = 0; i < funcs.length; i++) 
										{ 
											html += '<option value=' + funcs[i].id + ' selected>' + funcs[i].name + '</option>';
										}



					     		html+= '</select><span style="color:#EB6003;font-size:11px;">Only selected responsibilities will be saved. To delete responsibilities, remove them from the selection box using Ctrl+click.</span>'+
					     			'</div>'+
					     		'</div>'+
					     		'<div style="float:left;width:4%;padding:10px;height:141px;">'+
					     			'<img src="/assets/trash.png" align="right" style="cursor:pointer;" class="del_new" id="del_'+ id +'" '+
					     			'title="Discard"><br><br>'+
					     			'<img src="/assets/save.png" align="right" style="cursor:pointer;" class="update" id="update_'+ id +'" '+
					     			'title="Save">'+
					     		'</div>'+
					     	'</div>'+
					     '</div>';

			    $(html).insertAfter("#"+idPar);
			    // Add autocomplete:
			    $("#auto_"+id).autocomplete({
		           source: "/autocomplete/responsabilities",
		           select: function(event, ui) {
		           var id = this.id;  // auto_idPadre
		           var select_id = id.replace("auto", "funcs"); // funcs_idPadre
		           var selected = ui.item;
		           var split = selected.value.split(" - ");
		           id = split[0]; var name = split[1];
		           var existe = false; var temp;
		           // If has to be added, do it
		           if (id.trim() == '(Add)') 
		           {
		      	     // Must add it:
		      	     $.post('./add_responsability', {'name' : name}, function(data)
		      	     {
		      	    	if (data.id == null) 
		      	     	{
		      	     		// ERROR
		      		     	id = 'ERROR';
		      			    name = 'ERROR';
		      		    } 
		      	        else
		      	        {
		      	    	    // OK
		      	    	   id = data.id;
		      			   name = data.name;
		      	        };

		      	        html = "<option value='" + id + "' selected>" + name + "</option>";
				        // Add the option of the selected object, if there was nothing before
				        $('#'+select_id +' > option').each(function() 
				        {
				          temp = $(this).text().trim();
				          if (temp == name) 
				          {
				            existe = true;
				          };
				        });

				        if (!existe && id != 'ERROR') 
				        {
				            $("#"+select_id).append(html); 
				        };
		     
		          	 });
		      	    }
		      	    else
		      	    {
		      	    	html = "<option value='" + id + "' selected>" + name + "</option>";
				        // Add the option of the selected object, if there was nothing before
				        $('#'+select_id +' > option').each(function() 
				        {
				          temp = $(this).text().trim();
				          if (temp == name) 
				          {
				            existe = true;
				          };
				        });

				        if (!existe && id != 'ERROR') 
				        {
				            $("#"+select_id).append(html); 
				        };
		        	};



		        /* Delete to add new content */
		        $(this).val(''); return false;
		        }
		      
		      });

			  };
   		});
    });

});



// DISCARD STRUCTURE:
$(document).on('click', "img.del_new", function() {
	var id = this.id;
	id = id.replace("del", "div"); // -> div_par1_1
	// Remove the entire div:
	$("#"+id).remove();
});

// UPDATE STRUCTURE:
$(document).on('click', "img.update", function() {
	var id = this.id; // Original -> update_idPadre
	var idDiv = id.replace("update", "div"); // -> div_idPadre

	// Variable's ids:
    var idNombre = id.replace("update", "nombre");
    var idTipo = id.replace("update", "tipo");
    var idFuncs = id.replace("update", "funcs");
    var idPerfil = id.replace("update", "perfil");
    // Variables:
    var nombre = $("#"+idNombre).val();
    var tipo = $("#"+idTipo).val();
    var perfil = $("#"+idPerfil).val();
    var funcs = []; var bool = false; var funcs_text = [];
    // Add responsibilities:
    $("#"+idFuncs+ "> option").each(function(){
      bool = $(this).is( ":selected" );
      if (bool) 
        {
          funcs.push($(this).val()); // Add the responsibility id
          funcs_text.push($(this).text()); // Add the responsibility text
        };
    });

    var idPadre = id.split("_")[1];
	// Send AJAX request:
	
	var html = ''; var margen = 0; var funcion = '';
	// If the profile is defined, send it, not before
	if (perfil == null) 
	{
		// Not defined
		$("#"+idPerfil).focus();
	} 
	else
	{
		// Send an AJAX request to update the structure
	    $.post('./update_structure', {'id' : idPadre, 'name' : nombre, 'tipo' : tipo, 'funcs' : funcs, 'perfil' : perfil}, function(data)
	    {
	    	
	    	// Data contains the recently updated structure:
	    	if (data.id != null) 
	    	{
	    		// OK - Succesfully created, remove the container div and the current record:
	    		$("#"+idDiv).remove();
	    		$("#par"+idPadre).remove();
	    		// Insert the record where is it currently:
	    		if (data.parent_id != null) 
	    		{
	    			idPadre = 'par' + data.parent_id;
	    			// Get the father's margin:
	    			margen = $("#"+idPadre).css("margin-left");
	    			// Add 5 px to build the hierarchy:
	    			margen = parseInt(margen.replace("px", "").trim()) + 35;
	    		} 
	    	    else
	    	    {
	    	    	idPadre = 'title';
	    			margen = 0;
	    	    };
	    		
	    		funcion = '<img title="Add a new governance structure, under the hierarchy of this governance structure" src="/assets/list_option.png" style="margin-right:6px;cursor:pointer;" class="new_est" id="img' + data.id + '">';

	    		var englishType = '';
	    		switch(data.structure_type) 
	    		{
				    case '<%= ROL %>':
				    	englishType = 'ROL';
				        break;
				    case '<%= COMITE %>':
				        englishType = 'COMITEE'
				        break;
				    case '<%= UNIDAD_DE_NEGOCIO %>':
				    	englishType = 'BUSINESS UNIT';
				};

	    		html = '<p id="par' + data.id + '" style="margin:0 0 0 '+ margen +'px;">' + funcion + '[' + englishType + '] - ' + data.name + '<span id="span' + data.id +'" class="tool" style="color:#428bca;cursor:pointer;"> | Responsibilities </span><span id="update'+ data.id +'" class="update" style="color:#428bca;cursor:pointer;"> | Edit</span>' + '<span style="color:green;font-weight:bold;"> UPDATED!</span></p>';

	                        
	    		$(html).insertAfter("#"+idPadre);
	    	} 
	    	else
	    	{
	    		// Inform the error:
	    		$("#"+idDiv).attr("class", "alert alert-danger");
	    	};
	    });
	};
});


// SAVE STRUCTURE:
$(document).on('click', "img.add_new", function() {
	var id = this.id; // Original -> add_idPadre
	var idDiv = id.replace("add", "div"); // -> div_idPadre

	// Variables' ids:
    var idNombre = id.replace("add", "nombre");
    var idTipo = id.replace("add", "tipo");
    var idFuncs = id.replace("add", "funcs");
    var idPerfil = id.replace("add", "perfil");

    // Variables:
    var nombre = $("#"+idNombre).val();
    var tipo = $("#"+idTipo).val();
    var perfil = $("#"+idPerfil).val();
    var funcs = []; var bool = false; var funcs_text = [];
    // Add the responsibilities:
    $("#"+idFuncs+ "> option").each(function(){
      bool = $(this).is( ":selected" );
      if (bool) 
        {
          funcs.push($(this).val()); // Add the responsibility id
          funcs_text.push($(this).text()); // Add the responsibility text
        };
    });


	var idPadre = id.split("_")[1]; var type;
	if (idPadre == '0') 
	{
		type = 'GENERIC';
	} 
    else
    {
    	type = 'SPECIFIC';
    };
	// Make an AJAX request:
	
	var html = ''; var margen = 0; var funcion = '';
	// Check if the profile was defined
	if (perfil == null) 
	{
		$("#"+idPerfil).focus();
	} 
	else
	{
		// Post an AJAX request to add the structure:
	    $.post('./add_structure', {'name' : nombre, 'id_padre' : idPadre, 'tipo' : tipo, 'funcs' : funcs, 'type' : type, 'perfil' : perfil}, function(data)
	    {	    	
	    	// Data contains the recently created structure:
	    	if (data.id != null) 
	    	{
	    		// OK - Succesfully created:
	    		$("#"+idDiv).remove();
	    		// Insert eh record after it's father:
	    		if (data.parent_id != null) 
	    		{
	    			idPadre = 'par' + data.parent_id;
	    			// Get the father's margin:
	    			margen = $("#"+idPadre).css("margin-left");
	    			// Add 5 px, to build the hierarchy:
	    			margen = parseInt(margen.replace("px", "").trim()) + 35;
	    		} 
	    	    else
	    	    {
	    	    	idPadre = 'title';
	    			margen = 0;
	    	    };
	    		
	    		funcion = '<img title="Add a new governance structure, under the hierarchy of this governance structure" src="/assets/list_option.png" style="margin-right:6px;cursor:pointer;" class="new_est" id="img' + data.id + '">';

	    		var englishType = '';
	    		switch(data.structure_type) 
	    		{
				    case '<%= ROL %>':
				    	englishType = 'ROL';
				        break;
				    case '<%= COMITE %>':
				        englishType = 'COMITEE'
				        break;
				    case '<%= UNIDAD_DE_NEGOCIO %>':
				    	englishType = 'BUSINESS UNIT';
				};


	    		html = '<p id="par' + data.id + '" style="margin:0 0 0 '+ margen +'px;">' + funcion + '[' + englishType + '] - ' + data.name + '<span id="span' + data.id +'" class="tool" style="color:#428bca;cursor:pointer;"> | Responsibilities</span><span id="update'+data.id+'" class="update" style="color:#428bca;cursor:pointer;"> | Edit</span>'+
	    		    '<span style="color:green;font-weight:bold;">' +' SAVED!</span></p>';

	            // Remove the "No structures" div, if exists:
	            if (document.getElementById("noStructures") != null) 
	            {
	            	$("#noStructures").remove();
	            };

	    		$(html).insertAfter("#"+idPadre);
	    	} 
	    	else
	    	{
	    		// Inform the error:
	    		$("#"+idDiv).attr("class", "alert alert-danger");
	    	};
	    });
	};

});

// SHOW TOOLTIP DIALOG:
$(document).on('click', "span.tool", function() 
{
	var idEst = this.id.replace("span","").trim();

	// Make an AJAX request to get the responsibilities' information
	$.get('./get_functions', {'idEst' : idEst}, function(data)
    {
    	var html = "<h3>Responsibilities: </h3>";
		if (data.length == 0) 
		{
			html += '<p style="color:#333;"><i>- This governance structure has no defined responsibilities</i></p>';
		} 
		else
		{
			var error = false; var partes = [];
			for (i = 0; i < data.length; i++) 
			{ 
				if (data[i] == '#$%&/()=') 
				{
					// It comes with the separator, errors found
					error = true;
					html += '<h3 style="color:red;">Conflicts found:</h3>';
					continue;
				};

				if (error) 
				{
					// Format the errors' contents:
					partes = data[i].split("|");
					html+= '<p style="color:red;"><i>- ' + partes[0] + ', conflicted with the next governance structures: </i></p>';
					for (var k = 1; k < partes.length; k++) 
					{
						html+= '<p style="color:red;margin-left:15px;"><i>- ' + partes[k] + '</i></p>';
					};
				} 
				else
				{
					// Renders the responsibilities normally:
					html += '<p style="color:#333;"><i>- ' + data[i] + '</i></p>';
				};
			}
		};

		$("#dialogFuncs").html(html);
		// Open the dialog:
		$("#dialogFuncs").dialog("option", "width", 600);
		// Assign the dialog's title:
		$("#dialogFuncs").dialog('option', 'title', 'Responsibilities per governance structure');
		$("#dialogFuncs").dialog("option", "height", 500);
		$("#dialogFuncs").dialog("option", "resizable", false);
	    $("#dialogFuncs").dialog("open");
    });

});



// ADD STRUCTURE:
$(document).on('click', "img.new_est", function() {
	var id = this.id; // Image id from the clicked paragrah
	var idPar = id.replace("img", "par"); // Paragraph id, insert content after it
	var idPadre = id.replace("img", "").trim();
	var margen = $("#"+idPar).css("margin-left").replace("px","").trim();
	margen = parseInt(margen) + 35;

	// Only adds it, if the was nothing before:
	var anterior = document.getElementById("div_"+idPadre);
	if (anterior == null) 
	{
		// There was nothing, adds it
		var html = '<div class="alert alert-info" style="height:190px;margin-left:'+ margen +'px;color:#333;' + 
		           'background-color:#eeeeee;border-color:#cacaca;" id="div_'+ idPadre +'">'+
			     	'<div style="width:100%;">'+
			     		'<div style="float:left;width:32%;border:solid 1px white;padding:10px;height:161px;">'+
			     			'<div>'+
			     				'<label style="width:30%;font-weight:normal;">Name:</label>'+
			     				'<input type ="text" style="width:60%;" id="nombre_'+ idPadre +'">'+
			     			'</div>'+
			     			'<div style="margin:10px 0 0 0;">'+
			     				'<label style="width:30%;font-weight:normal;">Type:</label>'+
			     				'<select style="width:60%;" class="selTipo" id="tipo_'+ idPadre +'">'+
			     					'<option selected disabled>Select...</option>'+
			     					'<option value="<%= ROL %>">Role</option>'+
			     					'<option value="<%= COMITE %>">Comitee</option>'+
			     					'<option value="<%= UNIDAD_DE_NEGOCIO %>">Business Unit</option>'+
			     				'</select>'+
			     			'</div>'+
			     			'<div style="margin:10px 0 0 0;">'+
			     				'<label style="width:30%;font-weight:normal;">Profile:</label>'+
			     				'<select style="width:60%;" id="perfil_'+ idPadre +'">'+
			     					'<option selected disabled>Select...</option>'+
			     				'</select>'+
			     			'</div>'+
			     		'</div>'+
			     		'<div style="float:left;width:64%;border:solid 1px white;padding:10px;">'+
			     			'<div>'+
			     				'<label style="width:30%;font-weight:normal;">Add or search responsibilities:</label>'+
			     				'<input type ="text" style="width:69%; placeholder="Search..." class="auto_resps" id="auto_'+ idPadre+'">'+
			     			'</div>'+
			     			'<div style="margin:10px 0 0 0;">'+
			     				'<select multiple style="width:100%;" id="funcs_'+ idPadre +'">'+
			     				'</select><span style="color:#EB6003;font-size:11px;">Only selected responsibilities will be saved. To delete responsibilities, remove them from the selection box using Ctrl+click.</span>'+
			     			'</div>'+
			     		'</div>'+
			     		'<div style="float:left;width:4%;padding:10px;height:141px;">'+
			     			'<img src="/assets/trash.png" align="right" style="cursor:pointer;" class="del_new" id="del_'+ idPadre +'" '+
			     			'title="Discard"><br><br>'+
			     			'<img src="/assets/save.png" align="right" style="cursor:pointer;" class="add_new" id="add_'+ idPadre +'" '+
			     			'title="Save">'+
			     		'</div>'+
			     	'</div>'+
			     '</div>';

	    $(html).insertAfter("#"+idPar);
	    // Add the autocomplete:
	    $("#auto_"+idPadre).autocomplete({
           source: "/autocomplete/responsabilities",
           select: function(event, ui) {
           var id = this.id;  // auto_idPadre
           var select_id = id.replace("auto", "funcs"); // funcs_idPadre
           var selected = ui.item;
           var split = selected.value.split(" - ");
           id = split[0]; var name = split[1];
           var existe = false; var temp;
           // If needs to be added, do it:
           if (id.trim() == '(Add)') 
           {
      	     // Needs to be added:
      	     $.post('./add_responsability', {'name' : name}, function(data)
      	     {
      	    	if (data.id == null) 
      	     	{
      	     		// ERROR
      		     	id = 'ERROR';
      			    name = 'ERROR';
      		    } 
      	        else
      	        {
      	    	    // OK
      	    	   id = data.id;
      			   name = data.name;
      	        };

      	        html = "<option value='" + id + "' selected>" + name + "</option>";
		        // Add the selected object's option, if there was nothing before:
		        $('#'+select_id +' > option').each(function() 
		        {
		          temp = $(this).text().trim();
		          if (temp == name) 
		          {
		            existe = true;
		          };
		        });

		        if (!existe && id != 'ERROR') 
		        {
		            $("#"+select_id).append(html); 
		        };
     
          	 });
      	    }
      	    else
      	    {
      	    	html = "<option value='" + id + "' selected>" + name + "</option>";
		        // Add the selected object's option, if there was nothing before:
		        $('#'+select_id +' > option').each(function() 
		        {
		          temp = $(this).text().trim();
		          if (temp == name) 
		          {
		            existe = true;
		          };
		        });

		        if (!existe && id != 'ERROR') 
		        {
		            $("#"+select_id).append(html); 
		        };
        	};



        /* Delete to add new content */
        $(this).val(''); return false;
        }
      
      });

	  };
	
});


// ADD GENERIC STRUCTURE:
$(document).on('click', "span.new_est", function() {
	var margen = 35;

	// Only add it, if there was nothing before:
	var anterior = document.getElementById("div_0");
	if (anterior == null) 
	{
		// There was nothing before, adds it
		var html = '<div class="alert alert-info" style="height:190px;margin-left:'+ margen +'px;color:#333;' + 
		           'background-color:#eeeeee;border-color:#cacaca;" id="div_0">'+
			     	'<div style="width:100%;">'+
			     		'<div style="float:left;width:32%;border:solid 1px white;padding:10px;height:161px;">'+
			     			'<div>'+
			     				'<label style="width:30%;font-weight:normal;">Name:</label>'+
			     				'<input type ="text" style="width:60%;" id="nombre_0">'+
			     			'</div>'+
			     			'<div style="margin:10px 0 0 0;">'+
			     				'<label style="width:30%;font-weight:normal;">Type:</label>'+
			     				'<select style="width:60%;" class="selTipo" id="tipo_0">'+
			     					'<option selected disabled>Select...</option>'+
			     					'<option value="<%= ROL %>">Role</option>'+
			     					'<option value="<%= COMITE %>">Comitee</option>'+
			     					'<option value="<%= UNIDAD_DE_NEGOCIO %>">Business Unit</option>'+
			     				'</select>'+
			     			'</div>'+
			     			'<div style="margin:10px 0 0 0;">'+
			     				'<label style="width:30%;font-weight:normal;">Profile:</label>'+
			     				'<select style="width:60%;" id="perfil_0">'+
			     					'<option selected disabled>Select...</option>'+
			     				'</select>'+
			     			'</div>'+
			     		'</div>'+
			     		'<div style="float:left;width:64%;border:solid 1px white;padding:10px;">'+
			     			'<div>'+
			     				'<label style="width:30%;font-weight:normal;">Add or search responsibilities:</label>'+
			     				'<input type ="text" style="width:69%; placeholder="Search..." class="auto_resps" id="auto_0">'+
			     			'</div>'+
			     			'<div style="margin:10px 0 0 0;">'+
			     				'<select multiple style="width:100%;" id="funcs_0">'+
			     				'</select><span style="color:#EB6003;font-size:11px;">Only selected responsibilities will be saved. To delete responsibilities, remove them from the selection box using Ctrl+click.</span>'+
			     			'</div>'+
			     		'</div>'+
			     		'<div style="float:left;width:4%;padding:10px;height:141px;">'+
			     			'<img src="/assets/trash.png" align="right" style="cursor:pointer;" class="del_new" id="del_0" '+
			     			'title="Discard"><br><br>'+
			     			'<img src="/assets/save.png" align="right" style="cursor:pointer;" class="add_new" id="add_0" '+
			     			'title="Save">'+
			     		'</div>'+
			     	'</div>'+
			     '</div>';

	    $(html).insertAfter("#title");
	    // Add the autocomplete:
	    $("#auto_0").autocomplete({
           source: "/autocomplete/responsabilities",
           select: function(event, ui) {
           var id = this.id;  // auto_idPadre
           var select_id = id.replace("auto", "funcs"); // funcs_idPadre
           var selected = ui.item;
           var split = selected.value.split(" - ");
           id = split[0]; var name = split[1];
           var existe = false; var temp;
           // If has to be added, do it:
           if (id.trim() == '(Add)') 
           {
      	     // Has to be added:
      	     $.post('./add_responsability', {'name' : name}, function(data)
      	     {
      	    	if (data.id == null) 
      	     	{
      	     		// ERROR
      		     	id = 'ERROR';
      			    name = 'ERROR';
      		    } 
      	        else
      	        {
      	    	    // OK
      	    	   id = data.id;
      			   name = data.name;
      	        };

      	        html = "<option value='" + id + "' selected>" + name + "</option>"; 
      	        // Add the selected object's option if there was nothing before:
		        $('#'+select_id +' > option').each(function() 
		        {
		          temp = $(this).text().trim();
		          if (temp == name) 
		          {
		            existe = true;
		          };
		        });

		        if (!existe && id != 'ERROR') 
		          {
		            $("#"+select_id).append(html); 
		          };   
          	 });
          	}
          	else
          	{
          		html = "<option value='" + id + "' selected>" + name + "</option>"; 
      	        // Add the selected object's option if there was nothing before:
		        $('#'+select_id +' > option').each(function() 
		        {
		          temp = $(this).text().trim();
		          if (temp == name) 
		          {
		            existe = true;
		          };
		        });

		        if (!existe && id != 'ERROR') 
		          {
		            $("#"+select_id).append(html); 
		          };

        	};

        /* Delete to add new content */
        $(this).val(''); return false;
        }
      
      });

	  };
	
});


// Responsibilities dialog
$(function () {
  $("#dialogFuncs").dialog({
    autoOpen: false,
    modal: true,
    buttons: {
      "Accept": function(){
      	// Dele all it's content
      	$("#dialogFuncs").html("");
        $(this).dialog("close");
      },
      "Cancel": function () {
      	$("#dialogFuncs").html("");
        $(this).dialog("close");
      }
    },
  });
});

</script>

<div>
	<ol class="breadcrumb">
		<li><a href="../inicio/inicio">Home</a></li>
		<li class="active">[<%= @empresa.name %>] IT Governance - Governance Structures</li>
	</ol>
</div>

<% if flash[:notice] %>
<div class="alert alert-info">
	<p><%= flash[:notice] %></p>
</div>
<% end %>

<!-- Governance Structure -->
<div id="divEstr">
	<div>
		<h2 id="title"><span style="margin:0 10px 0 0;color:#333;font-size:22px;cursor:pointer;" class="new_est">[+]</span>IT Governance Structures:</h2>
		<% if @estructuras.size == 0 %>
		<div class="alert alert-info" id="noStructures">
		No governance structures saved, related with the enterprise: <%= @empresa.name %>.
		</div>
		<% else %>
		   <% @padres.each do |est| %>
		     <%= render :partial => 'structure', :locals => {:structure => est, :nivel => 0} %>
		   <% end %>
		<% end %>
	</div>
</div>


<div id="dialogFuncs" style="font-size:12px;">
</div>

